*{
    max-width: 1200px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}
    .header {
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu {
            background: #27394e;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo {
                background: #ea584b;
                flex: 1 1 auto;
            }
            .nav {
                background: #ea584b;
                flex: 5 1 auto;
            }
            .social {
                background: #ea584b;
                flex: 1 1 auto;
            }
        .texto-principal {
            background: #f0763a;
        }
            .texto-principal h1 {
                background-color: #ffcc5e;
            }
    .section {
        background: #000;
        display: flex;
    }
        .articulos {
            background: #44465e;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article {
                background: #1664a4;
                flex: 1 1 40%;
            }
            .navegacion {
                background: #6399bb;
                flex: 1 1 100%;
            }
        .aside {
            background: #f94c47;
            flex: 1 1 auto;
        }
            .publicidad {
                background: #ffe380;
            }
    .footer {
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie {
            background: #e4a434;
            flex: 1 1 auto;
        }
